version: "3"
services:
  db:
    image: mysql:latest
    container_name: mysql-db-flyway
    privileged: true
    ports:
      - 3308:3306
    environment:
      MYSQL_ROOT_PASSWORD: 'root'
      MYSQL_DATABASE: 'Voting'
      MYSQL_USER: 'user'
      MYSQL_PASSWORD: 'user'